@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
  box-sizing: border-box;
}

#header h2 {
  text-align: center;
  background-color: #f2c94c;
  font-size: 2rem;
  padding: 2rem;
}

#textarea {
  margin: 20px 20px;
  width: 100%;
  min-height: 10vh;
}
